*{
    margin: 0;
    padding: 0;
}
ul{list-style: none;}
a:link, a:visited{
    text-decoration: none;
    color: #333;
}
html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #fff;
    min-width: 1280px;
    line-height: 1.5;
}   

/* header */
header{
    width: 100%;
    height: 80px;
    /* background-color: gray; */
    position: relative;
    border-bottom: 1.5px solid black;
}
header .wrap{
    width: 80%;
    height: 80px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header .nav_left{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 7;
}
header .nav_left h1{
    width: 180px;
    height: 55px;
}
header .logo img{
    height: 60px;
    line-height: 60px;
}
.nav_left .navbar{
    display: block;
    padding-left: 40px;
}
.nav_left .navbar .menu_list{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu_list .list{
    height: 40px;
    line-height: 40px;
    font-size: 22px;
    font-weight: bold;
}
.menu_list .list:hover{
    font-size: 26px;
    font-weight: bold;
}
header .nav_right{
    display: flex;
    align-items: end;
    justify-content: flex-start;
    z-index: 7;
}
.nav_right .icon_list{
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.icon_list .item{
    line-height: 35px;
    font-size: 18px;
    font-weight: bold;
}
.icon_list .line{
    line-height: 30px;
}
.item .icon img{
    width: 18px;
    height: 18px;
    /* padding-top: 1px; */
}

/* main */
main{
    width: 100%;
    height: 70%;
    position: relative;
    margin: auto;
    display: grid;
}
main .slide{
    width: 100%;
    height: 100%;
}
main .wrap{
    width: 100%;
    height: 100%;
    position: relative;
}
main .wrap .img_box{
    width: 70%;
    height: 550px;
    /* border: 1px solid black; */
    position: absolute;
    top: 40px;
    left: 250px;
}
main .img_box img{
    width: 100%;
    height: 100%;
}
/* footer */
footer{
    width: 100%;
    height: 20%;
}
footer .wrap_tag{
    width: 70%;
    height: 90%;
    position: relative;
    left: 250px;
    top: 20px;
    display: flex;  
    justify-content: center;
    align-items: center;
}
footer .tag_list{
    width: 100%;
    height: 100%;
    display: flex;
}
.tag_list .tag{
    width: 20%;
    height: 100%;
}

.tag_list .tag .pro_img{
    width: 45%;
    height: 70%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.tag_list .tag p{
    text-align: center;
}

/* join */

/* join_main */
.join_main{
    width: 100%;
    height: 85%;
    position: relative;
}
.join_main .join_wrap{
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
.join_main .main_title{
    width: 100%;
    height: 15%;
    padding-bottom: 10px;
    display: flex;
    align-items: end;
    border-bottom: 1px solid black;
}
.join_main .join_list{
    width: 100%;
    padding-top: 10px;
}
.join_list .form_group{
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid black; */
    height: 40px;
    line-height: 40px;
}
.form_group .form_left{
    width: 15%;
    border: 1px solid black;
    font-size: 18px;
    background-color: rgba(218, 218, 218, 0.5);
    height: 40px;
}
.form_group .form_right{
    border: 1px solid black;
    width: 84.5%;
    height: 40px;
}
#email1{
    width: 130px;
    line-height: 20px;
    margin: 0 auto;
    font-size: 16px;
}
#email2{
    width: 150px;
    height: 24px;
    font-size: 16px;
}
.form_right .confirm{
    font-size: 14px;
    color: gray;
}
.form_right .btn_confirm{
    width: 100px;
    font-size: 16px;
    margin-left: 10px;
    line-height: 20px;
}
#password1{
    width: 400px;
    line-height: 20px;
}
#password2{
    width: 400px;
    line-height: 20px;
}
.form_right .btn_confirm1{
    width: 150px;
    font-size: 16px;
    margin-left: 10px;
    line-height: 20px;
}
#username{
    height: 20px;
    font-size: 16px;
}
.form_group:nth-child(7){
    height: 120px;
}
.form_group:nth-child(7) .form_left{
    height: 120px;
    line-height: 120px;
}
.form_group:nth-child(7) .form_right{
    border: 0;
}
.form_right .address_group{
    display: flex;
    flex-direction: column;
    height: 120px;
}
.address_group .address_row{
    border: 1px solid black;
    height: 39px;
}
#postcode{
    line-height: 20px;
    font-size: 16px;
}
.address_row .address_search{
    width: 100px;
    font-size: 16px;
    margin-left: 10px;
    line-height: 20px;
}
#address, #address-detail{
    width: 300px;
    line-height: 20px;
    font-size: 16px;
}
#number1{
    height: 22px;
    font-size: 16px;
}
#number2, #number3{
    height: 20px;
    width: 50px;
    font-size: 16px;
}
.join_wrap .join_btn{
    width: 100%;
    height: 10%;
    padding-top: 40px;
    text-align: center;
}
#clear, #exit{
    width: 100px;
    font-size: 18px;
    margin: 0 20px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}

/* mypage */
.mypage_main{
    width: 80%;
    /* height: 100%; */
    margin: 0 auto;
    /* background-color: gray; */
}

/* section1 = user */
.mypage_main .section1{
    width: 100%;
    height: 300px;
    /* background-color: aqua; */
    border-bottom: 1px solid black;
}
.section1 .profile{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}
.section1 .pro_left{
    width: 20%;
    height: 100%;
    padding-top: 30px;
    padding-left: 50px;
}
.section1 .pro_left .upload_img{
    width: 90%;
    height: 70%;
}
.section1 .pro_left img{
    width: 60%;
}
.section1 .pro_left .profile-picture{
    width: 70%;
    height: 10%;
}

#image-upload{
    padding-top: 5px;
}

.section1 .pro_right{
    width: 70%;
    height: 100%;
    padding-top: 30px;
    display: grid;
}
.pro_right .user_title{
    font-size: 35px;
    font-weight: bold;
}
.pro_right .user_name, .user_email, .user_phnumber{
    padding-top: 5px;
    font-size: 20px;
}
.pro_right .user_update{
    padding-top: 5px;
}
.pro_right .update{
    width: 120px;
    height: 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

/* section2 = tag list */
.mypage_main .section2{
    width: 100%;
    height: 50px;
    /* border-bottom: 1px solid gray; */
}
.section2 .mp_list{
    width: 25%;
    padding-top: 15px;
    padding-right: 50px;
    float: right;
}
.section2 .mp_list .mptag_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.mptag_list .mpitem{
    font-size: 18px;
}

/* section3 = calendar list */
.mypage_main .section3{
    width: 100%;
    height: 400px;
    border-bottom: 1px solid black;
}
.section3 .calendar_list{
    width: 90%;
    margin: 0 auto;
}
.calendar_list .cal_user{
    font-size: 32px;
}
.section3 .calendar_table{
    width: 100%;
    margin: 0 auto;    
    padding-top: 10px;
}
.calendar_table .table_list{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
.table_list th,td{
    border: 1px solid black;
    padding: 10px;
}
.table_list th{
    background-color: rgb(218, 218, 218);
}
.table_list .re_btn{
    font-size: 16px;
    width: 120px;
}
.table_list .cal_btn{
    font-size: 16px;
    width: 80px;
}

/* section3, section4 공통 */
.list_number{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 10px;
}
.list_number .number_box{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100px;
    margin: 0 auto;
}
.number_box li{
    width: 20px;
}
.number_box li:nth-child(1){
    background-color: aquamarine;
    border-radius: 5px;
    /* color: white; */
}

/* section4 = review */
.mypage_main .section4{
    width: 100%;
    height: 400px;
    border-bottom: 1px solid black;
}
.section4 .review_list{
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}
.review_list .review_user{
    font-size: 32px;
}
.section4 .review_table{
    width: 100%;
    margin: 0 auto;    
    padding-top: 10px;
}
.review_table .table_list{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}
.table_list th,td{
    border: 1px solid black;
    padding: 10px;
}
.table_list th{
    background-color: rgb(218, 218, 218);
}
.table_list .reupdate_btn{
    font-size: 16px;
    width: 60px;
}

/* section5 = plike */
.mypage_main .section5{
    width: 100%;
    height: 760px;
    border-bottom: 1px solid black;
}
.section5 .plike_list{
    width: 90%;
    margin: 0 auto;
    padding-top: 10px;
}
.plike_list .plike_user{
    font-size: 32px;
}
.section5 .plike_table{
    width: 90%;
    margin: 0 auto;    
    padding-top: 5px;
}
.plike_table .section5_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
}
.section5_list .plike_left{
    width: 25%;
}
.section5_list .plike_left img{
    width: 200px;
}
.section5_list .plike_right{
    width: 70%;
}
.plike_right .table_list{
    width: 100%;
    height: 84%;
}
.table_list .plike_proname{
    font-size: 32px;
}
.table_list .plike_proname img{
    width: 20px;
    line-height: 20px;
}
.table_list .plike_proname span{
    font-size: 15px;
    line-height: 40px;
}
.table_list .plike_trainer{
    font-size: 22px;
}
.table_list .pro_startdate, .pro_enddate{
    font-size: 18px;
    padding-top: 10px;
}
.plike_right .del_btn{
    width: 100px;
    height: 50px;
}
.plike_right .del_btn .plike_delete{
    font-size: 18px;
    width: 80px;
    border: 0;
    cursor: pointer;
}