/* 전반적인 페이지 스타일 */
body {
    font-family: Arial, sans-serif; /* 전체 페이지의 폰트 설정 */
    background-color: #f5f5f5; /* 배경색 설정 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    height: 100vh; /* 화면 전체 높이로 설정 */
    margin: 0; /* 바디의 마진 제거 */
}

/* 팝업을 위한 오버레이 스타일 */
.popup-overlay {
    display: none; /* 초기에는 보이지 않음 */
    position: fixed; /* 고정 위치 */
    z-index: 999; /* 다른 요소들보다 위에 표시 */
    left: 0;
    top: 0;
    width: 100%; /* 전체 너비 */
    height: 100%; /* 전체 높이 */
    background-color: rgba(0, 0, 0, 0.5); /* 반투명한 검은색 배경 */
    overflow: auto; /* 스크롤이 생길 경우 스크롤 허용 */
}

/* 팝업 창 스타일 */
.popup {
    background-color: #fefefe; /* 배경색 */
    margin: 0 auto; /* 수평 가운데 정렬 */
    padding: 20px; /* 안쪽 여백 */
    border: 1px solid #888; /* 테두리 설정 */
    width: 80%; /* 너비 설정 */
    max-width: 600px; /* 최대 너비 */
    border-radius: 8px; /* 테두리 둥글게 */
    position: relative; /* 상대 위치 */
}

/* 팝업 닫기 버튼 스타일 */
.close {
    position: absolute; /* 절대 위치 */
    left: 50%; /* 왼쪽으로부터 가운데 정렬 */
    transform: translateX(-50%); /* 가운데 정렬 */
    bottom: 10px; /* 하단 여백 */
    font-size: 20px; /* 폰트 크기 */
    cursor: pointer; /* 마우스 커서 포인터로 변경 */
    color: #202627; /* 글자색 */
    border: none; /* 테두리 없음 */
    background: none; /* 배경 없음 */
}

.close:hover,
.close:focus {
    color: #000; /* 호버 및 포커스 상태에서 글자색 변경 */
    text-decoration: none; /* 밑줄 제거 */
    cursor: pointer; /* 마우스 커서 포인터로 변경 */
}

/* 팝업 제목 스타일 */
.popup h2 {
    text-align: center; /* 가운데 정렬 */
    margin-bottom: 20px; /* 하단 마진 */
}
.popbox {
    width: 100%;

}

.form-group {
    margin-bottom: 20px;
    overflow: hidden; /* 내부 요소의 오버플로우를 숨김 */
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    float: left; /* 왼쪽 정렬 */
    width: 300%; /* 레이블 너비 설정 */
    margin-top: 5px; /* 위 여백 설정 */
}

.form-group input[type="number"] {
    width: 20%; /* 입력 필드 너비 설정 */
    margin-top: 10px; /* 위 여백 설정 */
    margin-right: 15px; /* 우측 여백 설정 */
    padding: 10px; /* 안쪽 여백 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 4px; /* 테두리 반경 설정 */
    box-sizing: border-box; /* 요소의 전체 너비에 패딩 및 테두리를 포함하도록 설정 */
    font-size: 16px; /* 폰트 크기 설정 */
    float: center; /* 왼쪽 정렬 */
}

.form-group input[type="text"],
.form-group input[type="email"] {
    width: calc(70% - 10px); /* 입력 필드 너비 설정 */
    margin-top: 10px; /* 위 여백 설정 */
    padding: 10px; /* 안쪽 여백 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    border-radius: 4px; /* 테두리 반경 설정 */
    box-sizing: border-box; /* 요소의 전체 너비에 패딩 및 테두리를 포함하도록 설정 */
    font-size: 16px; /* 폰트 크기 설정 */
    float: left; /* 왼쪽 정렬 */
}

.form-group input[type="passview"] {
    width: 100%; /* 입력 필드 너비 설정 */
    margin-top: 70px; /* 위 여백 설정 */
    text-align: center;
    padding: 10px; /* 안쪽 여백 설정 */
    border: 1px solid #ffffff; /* 테두리 설정 */
    border-radius: 4px; /* 테두리 반경 설정 */
    box-sizing: border-box; /* 요소의 전체 너비에 패딩 및 테두리를 포함하도록 설정 */
    font-size: 30px; /* 폰트 크기 설정 */
    
}

.form-group button {
    background-color: #00C7AE;
    color: #fff;
    border: none;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    float: right; /* 우측 정렬 */
    margin-top: 10px; /* 위 여백 설정 */
    width: 30%; /* 너비 설정 */
}
.form-group button[type="click"] {
    background-color: #00C7AE; /* 배경색 설정 */
    color: #fff; /* 글자색 설정 */
    border: none; /* 테두리 없음 */
    padding: 12px 15px; /* 안쪽 여백 설정 */
    font-size: 14px; /* 폰트 크기 설정 */
    cursor: pointer; /* 마우스 커서 모양 설정 */
    border-radius: 4px; /* 테두리 반경 설정 */
    float:right; /* 우측 정렬 */
    margin-top: 70px; /* 위 여백 설정 */
    width: 100%;
}
.form-group button[type="submit"] {
    background-color: #2e2b2b29;
    color: rgba(0, 0, 0, 0.537);
    border: none;
    padding: 10px 20px;
    font-weight:100;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    float: right;
    width: 30%; /* 버튼의 너비 설정 */
}
.form-group .left-button {
    float: left; /* 왼쪽 정렬 */
    width: 50%;
    background-color: #00c7ac8a; /* 배경색 설정 */
    margin-top: 0%; /* 위 여백 설정 */
    text-decoration: none; /* 링크 기본 스타일 제거 */
    margin-right: -2px; /* 오른쪽 버튼과 겹치지 않도록 -2px 마진 추가 */
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
}

.form-group .right-button {
    float: right; /* 우측 정렬 */
    width: 50%;
    text-decoration: none; /* 링크 기본 스타일 제거 */
    background-color: #00C7AE; /* 배경색 설정 */
    margin-top: 0%; /* 위 여백 설정 */
}
.form-group .left-button2 {
    float: left; /* 왼쪽 정렬 */
    width: 50%;
    background-color: #00C7AE; /* 배경색 설정 */
    text-decoration: none; /* 링크 기본 스타일 제거 */
    margin-top: 0%; /* 위 여백 설정 */
    margin-right: -2px; /* 오른쪽 버튼과 겹치지 않도록 -2px 마진 추가 */
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
}

.form-group .right-button2 {
    float: right; /* 우측 정렬 */
    width: 50%;
    background-color: #00c7ac8a; /* 배경색 설정 */
    margin-top: 0%; /* 위 여백 설정 */
}

.form-group button:hover {
    background-color: #0056b3;
}

/* 반응형 조정 */
@media (max-width: 768px) {
    .popup {
        width: 90%;
    }
}
